*{
    margin: 0;
    padding: 0;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 999;
    padding-block: 10px;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.07);
  }
  

.boxed {
    max-width: 1200px;
    margin-inline: auto;
  }
  
  .flex {
    display: flex;
  }

  .space-between {
    justify-content: space-between;
  }

  .header-menu {
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  .header-menu li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px;
    box-sizing: border-box;
    transition: 0.2s ease;
  }
  .aligncenter {
    align-items: center;
  }



h1{
    text-align: center;
    padding-top: 50px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
form {
    margin-bottom: 20px;
}


.recette {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    
}

.recette h2 {
    margin: 0;
    color: #333;
    text-align: center;

    
}
.recette p {
    color: #666;
}

