@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  
}

body {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  margin: 0;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  z-index: 999;
  padding-block: 10px;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.07);
}

.boxed {
  max-width: 1200px;
  margin-inline: auto;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.header-logo {
  display: block;
}
.header-logo img {
  width: 70px;
}

.header-menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.header-menu li a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 10px;
  box-sizing: border-box;
  transition: 0.2s ease;
}

.header-menu li a:hover {
  background-color: #f2f2f2;
}

.header-menu li:last-child a {
  background-color: #e44d25;
  color: #fff;
}

.aligncenter {
  align-items: center;
}

h1 {
  text-align: center;
  padding-top: 120px;
  color: white;
}

h2 {
  text-align: center;
  padding-top: 120px;
  color: #e44d25;
}

.titre-connexion {
  text-align: center;
  color: black;
  padding-bottom: 30px;
}

.slider {
  width: 100%;
  min-height: 80vh;
  aspect-ratio: 16/9;
  position: relative;
}
.slider img {
  width: 100%;
}

.slider-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
}

.slider-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.form-recette {
  margin-bottom: 20px;
  padding-top: 50px;
  color: white;
}

label {
  display: block;
  margin-bottom: 10px;
}
select,
input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.research-button {
  background-color: #53af57;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  text-align: center;
}

.research-button:hover {
  background-color: white;
  color: #53af57;
  border: 1px solid #53af57;
}

.recette {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.recette h2 {
  margin: 0;
  color: #333;
  text-align: center;
}

.recette p {
  color: #666;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-bottom: 20px;
  padding-top: 50px;
  color: white;
}

.form-profil {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-profil {
  padding-top: 100px;
}

.input-group {
  margin-bottom: 15px;
  color:black;
}

input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

footer {
  margin-top: auto; 
  padding: 10px;
  background-color: white;
  color: black;
  text-align: center;
  position: relative;
  width: 100%;
 
}

/* Conteneur principal des cartes de recettes */
.recettes-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-items: center;
}

.une-recette-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1; 
  padding-top: 80px
  
}

.une-recette-card{
  width: 300px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: #fff;
  margin-bottom: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.une-recette-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Style des cartes de recettes */
.recette-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Image des recettes */
.recette-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* Titre de la recette */
.recette-title {
  font-size: 1.5em;
  margin: 10px 0;
  color: #e44d25;
}

.lien-recette {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #28a745;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
/* Description de la recette */
.recette-description {
  font-size: 1em;
  color: #666;
  margin: 0 10px 15px;
}

/* Effet au survol de la carte */
.recette-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.ingredients-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

/* Style des cartes d'ingrédients */
.ingredient-card {
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
  padding: 15px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.ingredient-card h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #333;
}

.ingredient-card p {
  font-size: 1em;
  color: #666;
}

.ingredient-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

